--swiftversion 6.0
--self insert
--stripunusedargs closure-only
--wraparguments before-first
--wrapparameters before-first
--indent 4
--maxwidth 140
--importgrouping testable-bottom
--trailingcommas always
--commas always
--semicolons never
--empty void
--header strip
--linebreaks lf
--decimalgrouping 3,6
--binarygrouping 4,8
--octalgrouping 4,8
--hexgrouping 4,8
--hexliteralcase uppercase
--exponentcase lowercase
--operatorfunc spaced
--elseposition same-line
--guardelse same-line
--allman false
--closingparen balanced
--ifdef indent
--xcodeindentation disabled
--redundanttype inferred
--patternlet hoist
--acronyms ID,URL,UUID,API,HTTP,HTTPS,SQL,UI,OS
--disable wrapMultilineStatementBraces
