---
permalink: /404.html
layout: base.njk
title: Not found
description: This page is somewhere between tracks.
eleventyExcludeFromCollections: true
---

<div class="container container--narrow" style="text-align: center; padding: 4em 1em;">
  <h1>404</h1>
  <p class="hero__tagline">The track you requested is not in this playlist.</p>
  <p>
    <a class="btn btn--primary" href="/">Go home</a>
  </p>
</div>
